DB_DRIVER=postgres
DB_USERNAME=postgres
DB_PASSWORD=vCShsrtWobCKLJEF
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=giza_systems
DB_DEVICE=./postgres_data

REDIS_HOST=127.0.0.1
REDIS_PORT=9999

APP_PORT=8081
